.layoutContainer {
  display: flex;
  min-height: 100vh;
  position: relative;
}

.mainContent {
  flex: 1;
  padding: 20px;
  transition: margin-left 0.3s ease;
  margin-left: 250px; 
  background-color: var(--clr-blanco-roto);
}

.fullWidth {
  margin-left: 0;
}

.toggleButton {
  position: fixed;
  left: calc(250px + 10px);  top: 20px;
  z-index: 1000;
  background: var(--clr-prim-mas-osc);
  color: var(--clr-blanco);
  border: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--sombra-ligera);
  transition: all 0.3s ease;
}

.toggleButton:hover {
  background: var(--clr-prim-osc);
  transform: scale(1.1);
}

/* Cuando el sidebar está oculto */
.fullWidth .toggleButton {
  left: 10px;
}

@media (max-width: 768px) {
  .mainContent {
    margin-left: 0;
  }
  
  .toggleButton {
    left: 10px;
  }
}